extends layout

block content
  .container
    br
    h1(style='color: #002F6C; font-weight: bold; text-align: center; font-size: 1.8em; margin-bottom: 15px;')
      | Blockchain Simulation Module
    br
    p(style='color: black; font-size: 1.0em; line-height: 1.6; max-width: 800px; margin: 0 auto; text-align: justify; text-justify: inter-word;')
      | This simulation module serves as an educational tool designed to illustrate the foundational principles of Blockchain and Smart Contract technologies. It enables students to explore and experiment with essential blockchain operations, including block generation, chain validation, hashing through the SHA-256 algorithm, and basic token simulation. 
      | The platform has been developed and launched with the support of 
      a(href='https://www.document.ge/', target='_blank', style='color: #c2113a; text-decoration: none;') Document.ge 
      | for 
      a(href='https://www.sabauni.edu.ge/ka', target='_blank', style='color: #c2113a; text-decoration: none;') Sulkhan-Saba Orbeliani University 
      | for educational and research purposes only. Unauthorized reproduction or distribution of the source code is strictly prohibited.
      <p style="text-align:center; margin-top:40px;"> <a href="https://www.document.ge/students/licence-disclaimer" target="_blank" style="color:#002F6C; font-size:0.9em; text-decoration:none; border-bottom:1px dashed #002F6C;"> License & Disclaimer </a> </p>
