extends layout

block content
  .container-fluid
    h1 #{__('Tokens')}
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
      each peer, chain in peers
        h3 #{__('Peer')} #{peer}
        .row.row-horizon
          - var blocks = []
          - blocks.push({block: 1, chain: chain, nonce: 139358, txs: [{value: '25.00', from: 'ციცია', to: 'ანრი'},{value: '4.27', from: 'რამინ', to: 'ანა'},{value: '19.22', from: 'გვანცა', to: 'მარიამი'},{value: '106.44', from: 'ნანა', to: 'ანა'},{value: '6.42', from: 'ზურა', to: 'ნინო'}], previous: '0000000000000000000000000000000000000000000000000000000000000000'})

          - blocks.push({block: 2, chain: chain, nonce: 39207, txs: [{value: '97.67', from: 'გიორგი', to: 'ლაშა'},{value: '48.61', from: 'დავით', to: 'საბა'},{value: '6.15', from: 'ირაკლი', to: 'ნიკა'},{value: '10.44', from: 'ლევან', to: 'თემო'},{value: '88.32', from: 'ზვიადი', to: 'გიგა'},{value: '45.00', from: 'შოთა', to: 'ბექა'},{value: '92.00', from: 'არჩილი', to: 'დაჩი'}], previous: '0000519b735f4a7902eecd1eb2c55460ecc88ca75fa1a71c1c922fe089de0435'})

          - blocks.push({block: 3, chain: chain, nonce: 13804, txs: [{value: '10.00', from: 'მარიამი', to: 'გიორგი'},{value: '5.00', from: 'ნინო', to: 'გიორგი'},{value: '20.00', from: 'ლუკა', to: 'ანა'}], previous: '00009308429411936c688561b50d8ff92b63a161ef2fa6c3248373c4abecdd1f'})

          - blocks.push({block: 4, chain: chain, nonce: 20688, txs: [{value: '62.19', from: 'გელა', to: 'თამარი'},{value: '867.96', from: 'ზურაბი', to: 'ალექსანდრე'},{value: '276.15', from: 'ვიქტორ', to: 'თამარი'},{value: '97.13', from: 'გელა', to: 'დავით'},{value: '119.63', from: 'ზურაბი', to: 'ლევანი'}], previous: '0000a77740194af3553e256e7b686f181ef6c958593fce443b9c19e9524452bf'})

          - blocks.push({block: 5, chain: chain, nonce: 33083, txs: [{value: '14.12', from: 'ელენე', to: 'გიორგი'},{value: '2,760.29', from: 'ბადრი', to: 'ოთარი'},{value: '413.78', from: 'ქეთევანი', to: 'ნატალი'}], previous: '000071094b443c2488974fd5cb0dc6b377878e4c1712dbba53418de21cb8a572'})
          each block in blocks
            .col-xs-7
              include includes/tokenblock

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);
    });

    function getText(block, chain) {
      var s = $('#block'+block+'chain'+chain+'number').val() +
              $('#block'+block+'chain'+chain+'nonce').val();
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        s = s + $('#block'+block+'chain'+chain+'tx'+x+'value').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'from').val() +
                $('#block'+block+'chain'+chain+'tx'+x+'to').val();
      }
      s = s + $('#block'+block+'chain'+chain+'previous').val();
      return s;
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'number').bind('input propertychange', function() { updateChain(block, chain); });
      $('#block'+block+'chain'+chain+'nonce').bind('input propertychange', function() { updateChain(block, chain); });
      for (var x=0; $('#block'+block+'chain'+chain+'tx'+x+'value').length > 0; x++) {
        $('#block'+block+'chain'+chain+'tx'+x+'value').bind('input propertychange', function() { updateChain(block, chain); });
        $('#block'+block+'chain'+chain+'tx'+x+'from').bind('input propertychange', function() { updateChain(block, chain); });
        $('#block'+block+'chain'+chain+'tx'+x+'to').bind('input propertychange', function() { updateChain(block, chain); });
      }
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
